.quotes-llama-id {
	display: inline-block;
	width: 100%;
	padding-bottom: 30px;
}

.quotes-llama-id img {
	max-width: 150px;
	max-height: 150px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.45);
	float: left;
}

.quotes-llama-id-author {
	display: block;
	text-align: right;
	font-style: italic;
}

.quotes-llama-id-source {
	display: inline-block;
	text-align: right;
	font-size: small;
	font-style: italic;
}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1366px) {
	.quotes-llama-id img {
		max-width: 138px;
		max-height: 138px;
		margin-right: 8px;
		border-radius: 3px;
		box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.60);
	}
}

@media only screen and (max-width: 1080px) {
	.quotes-llama-id img {
		max-width: 115px;
		max-height: 115px;
		margin-right: 14px;
		border-radius: 3px;
		box-shadow: 3px 7px 9px 0px rgba(0,0,0,0.60);
	}
}

@media only screen and (max-width: 768px) {
	.quotes-llama-id img {
		max-width: 90px;
		max-height: 90px;
		margin-right: 13px;
		border-radius: 2px;
		box-shadow: 2px 5px 6px 0px rgba(0,0,0,0.40);
	}
}

@media only screen and (max-width: 360px) {
	.quotes-llama-id img {
		max-width: 65px;
		max-height: 65px;
		margin-right: 12px;
		border-radius: 2px;
		box-shadow: 2px 5px 6px 0px rgba(0,0,0,0.30);
	}
}

@media only screen and (max-width: 240px) {
	.quotes-llama-id img {
		max-width: 45px;
		max-height: 45px;
		margin-right: 11px;
		border-radius: 2px;
		box-shadow: 2px 5px 6px 0px rgba(0,0,0,0.30);
	}
}
